**

#!bin/*

!dist/README.md
!dist/snuggsi.min.es
!dist/snuggsi.min.es.js
!dist/snuggsi.min.es.br
!dist/snuggsi.min.es.gz
!dist/snuggsi.min.es.zo
!dist/snuggsi.min.es.zlib
!dist/snuggsi.min.es.deflate

!dist/snuggsi.min.js
!dist/snuggsi.min.js.br
!dist/snuggsi.min.js.gz
!dist/snuggsi.min.js.zo
!dist/snuggsi.min.js.zlib
!dist/snuggsi.min.js.deflate
