dist: trusty
language: node_js
node_js:
  - "7"
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
env:
  - CXX=g++-4.8
notifications:
  email: false
sudo: false
# before_install
# install
# before_script
script:
  - bin/snuggsi integrate
# before_cache
# after_success
# after_failure
# before_deploy
# deploy
# after_deploy
# after_script
