<!doctype html>

<meta charset=utf-8>

<title>Category: Describe interface</title>

<link rel=help href=//path/to/specification>

<script src=/testharness.js></script>
<script defer src=/testharnessreport.js></script>

<!-- Testing Format http://web-platform-tests.org/appendix/test-templates.html -->

<output id=log></output>

<script>
/* tests go here

  test ('Descriptive test name', test => {
    assert_true (true, 'Test stub works!')
  })

*/
</script>
