:root {
  --margin: 0 0;
}
body {
  padding: 0;
}

#badges {
  padding: 0;
  text-align: center
}

#badges img {
  width: auto;
  height: 0.9rem;
  margin: 0.6em 0.4em 0
}

#badges a:link {
  margin: 0;
  height: 1rem;
  text-decoration: none;
  border-bottom: none
}

body > nav a:link {
  border-bottom: none;
}

body > aside header,
body > nav header {
  text-align: center;
}

body > nav {
  left: 0;
  top: 18vh;
  margin: 0;
  width: 20vw;
  height: auto;
  min-width: 10rem;
  min-height: 82vh;
  text-align: left;
  position: absolute;
  color: rgba(0,0,0,0.7);
  background: var(--lightest-color);
}

nav ul {
  list-style-position: inside;
}

body > nav header { margin-top: 1em }

body > nav details { }

body > nav li { display: block }

body > nav li a {
  margin-left: 1em;
  display: inline-block;
}

body > nav details li a { margin-left: 2em }

body > nav summary a { margin-left: 0em }

body > main { margin: 0 20vw }

[view] {
  height: 82vh;
  display: block;
}

[view]:not(:target) {
  height: 82vh;
  display: none;
}

body > main h1 { text-align: center }

body > aside {
  right: 0;
  top: 18vh;
  margin: 0;
  width: 20vw;
  height: auto;
  text-align: left;
  min-width: 10rem;
  min-height: 82vh;
  background: black;
  position: absolute;
}

body > footer {
  margin: 0;
  width: 100vw;
  height: 10em;
  display: flex;
  background: rgba(0,0,0,0.6);
}

header-group {
  height: 18vh;
  display: flex;
  margin-bottom: 0;
  border-bottom: none;
  align-items: center;
  line-height: 1.612em;
  justify-content: center;
}

header-group h1, header-group h2
  { display: inline-block }

header-group h1 a:link {
  text-decoration: none;
  border: none
}

header-group a span {
  opacity: 0.60;
  font-size: 90%
}


.center
  { text-align: center }

section[view]
  { text-align: center; font-size: 60% }

section[view] h1
  { margin-bottom: 1.612em }

pre, code {
  border-radius: 0.7em;
  background: rgb(30,30,30);
}

code {
  margin: 0 0.5em;
  padding: 0 0.5em;
}

pre {
  overflow: scroll;
  text-align: center;
  margin: 0 6em 1.612em;
}

section#installation pre em.comment
  { color: rgba(255,255,255,0.4) }




#lifecycle
  { margin-bottom: 10em; height: auto }

#lifecycle dl
  { margin: 0 1em }

#lifecycle dt {
  text-align: left;
  font-size: 1.612em;
  margin: 0 1.612em 0.612em;
  color: rgba(255,255,255,1.0);
  text-shadow: 1px 0px 5px rgba(10, 10, 10, 0.8);
}
#lifecycle dt:first-letter {
  font-size: 1.612em;
  color: rgba(255,255,255,0.4);
}

#lifecycle dt em
  { font-size: 80% }

#lifecycle dd {
  font-size: 1em;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.612em;
  margin: 0 1em 2.612em 3.6em;
}

