:root {
  --margin: 0 0;
}
body {
  padding: 1em 0 0;
}

#badges {
  padding: 0;
  margin-top: -1em;
  text-align: center
}

#badges img {
  width: auto;
  height: 0.9rem;
  margin: 0.6em 0.2em 0
}

#badges a:link {
  margin: 0;
  height: 1rem;
  border-bottom: none;
  text-decoration: none
}

body > nav a:link {
  border-bottom: none;
}

body > aside header,
body > nav header {
  text-align: center;
}

body > nav, body > aside
  { top: 20vh }

body > nav {
  left: 0;
  margin: 0;
  height: auto;
  min-width: 10rem;
  min-height: 82vh;
  text-align: left;
  position: absolute;
  color: rgba(0,0,0,0.7);
  background: var(--lightest-color);
}

nav ul {
  list-style-position: inside;
}

body > nav header { margin-top: 1em }

body > nav details { }

body > nav li { display: block }

body > nav li a {
  margin-left: 1em;
  display: inline-block;
}

body > nav details li a { margin-left: 2em }

body > nav summary a { margin-left: 0em }

[view] {
  height: 82vh;
  display: block;
}

[view]:not(:target) {
  height: 82vh;
  display: none;
}

body > main h1 { text-align: center }

body > aside {
  right: 0;
  margin: 0;
  height: auto;
  text-align: left;
  min-width: 10rem;
  min-height: 82vh;
  background: black;
  position: absolute;
}

body > footer {
  height: 2em;
  display: flex;
  justify-content: center;
  background: rgba(0,0,0,0.6);
  color: rgba(230,230,230,0.4);
}

body > footer em
  { font-size: 0.8em }

header-group {
  height: 16vh;
  display: flex;
  border-bottom: none;
  line-height: 1.612em;
  margin-bottom: 1.612em;
}

header-group hgroup {
  text-align: center;
}
header-group h1, header-group h2
  { display: inline-block }

header-group h1 a:link {
  text-decoration: none;
  border: none
}

header-group a span {
  opacity: 0.60;
  font-size: 90%
}


.center
  { text-align: center }

section[view]
  { text-align: center; font-size: 60% }

section[view] h1
  { margin-bottom: 1.612em }

pre, code {
  border-radius: 0.7em;
  background: rgb(30,30,30);
}

code {
  margin: 0 0.5em;
  padding: 0 0.5em;
}

pre {
  overflow: scroll;
  text-align: center;
  margin: 0 6em 1.612em;
}

section#installation pre em.comment
  { color: rgba(255,255,255,0.4) }




#lifecycle
  { margin-bottom: 7em; height: auto }

#lifecycle dl
  { margin: 0 1em }

#lifecycle dt {
  text-align: left;
  font-size: 1.612em;
  margin: 0 1.612em 0.612em;
  color: rgba(255,255,255,1.0);
  text-shadow: 1px 0px 5px rgba(10, 10, 10, 0.8);
}
#lifecycle dt:first-letter {
  font-size: 1.612em;
  color: rgba(255,255,255,0.4);
}

#lifecycle dt em
  { font-size: 80% }

#lifecycle dd {
  font-size: 1em;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.612em;
  margin: 0 1em 2.612em 3.6em;
}

/* HOLY GRAIL */

body { display: flex; flex-flow: column }
body > main, body > aside { flex: 1 }
body > header-group, body > footer { height: 10vh }

@media (orientation: landscape) {
  body           { flex-flow: row wrap }
  body > main    { flex-basis: 70% }
  body > aside   { flex-basis: 30% }
  body > main,
  body > aside   { min-height: 80vh }
  body > header-group,
  body > footer  { flex-basis: 100% }
}

@media (min-width:786px) {
  body { margin: auto 5vw }
}

@media (min-width:1300px) {
  body { margin: auto 23vw }
}
