<!doctype html>

<meta charset=utf-8>

<title>Category: Describe interface</title>

<link rel=help href=//path/to/specification>

<script defer src=/resources/testharness.js></script>
<script defer src=/resources/testharnessreport.js></script>

<!-- Testing Format https://wiki.csswg.org/test/format -->

<output id=log></output>

<script>

  // tests go here

</script>
