to-do form {
   counter-reset: all;
   counter-reset: active;
   counter-reset: complete;
}

to-do menu > label::after {
  width: 4vw;
  font-size: 3vw;
  line-height: 4vw;
  position: static;
  border-radius: 4vw;
  text-align: center;
  display: inline-block;
  margin-left: 0.4em;
  content: attr(data-count);
  background: rgba(0,0,0,0.5);
  text-shadow: 0.05em 0.05em 0 black;
//  content: counter(all);
}

to-do article
  { counter-increment: all }
to-do article input[type=checkbox]:not(:checked)
  { counter-increment: active }
to-do article input[type="checkbox"]:checked
  { counter-increment: complete }
