to-do h1 {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: .612em;
}

to-do form {
}

to-do button, to-do footer > label { cursor: pointer }

to-do button,
to-do form button[type=submit] {
  margin: 0;
  padding: 0;
  width: 10vw;
  height: 10vw;
  display: block;
  overflow: hidden;
  min-width: initial;
  border-radius: 10em;
  text-indent: -9999px;
}

to-do form
  > header {
    display: flex;
    background: red;
    margin-bottom: 1.612em;
    justify-content: stretch;
  }

to-do form
  > header input[required] {
    height: 10vw;
    font-size: 320%;
    flex-basis: 80vw;
    margin: 0 0 0 10vw; /* width of Add button */
  }

to-do form
  > header button[type=submit]
      { margin-left: 2vw }

to-do form > article {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: row;

  line-height: 2em;
  background: rgba(230,230,230,.5);
// Flexbox bug for fieldset - https://stackoverflow.com/questions/28078681/why-cant-fieldset-be-flex-containers
}

to-do form
   > article input[type=checkbox]
       { display: none }

to-do form > article label {
  font-size: 320%;
  flex-basis: 80vw;
  text-align: center;
  display: inline-block;
  background: white;
  margin: 0 0 0 10vw; /* width of Add button */
}

to-do footer  {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

to-do footer header button { display: block }

to-do footer > label {
  flex: 1;
  margin: 0 2em;
  text-align: center;
  border-radius: 0.2em;
}

to-do input#all:checked
  ~ footer > label[for=all],

to-do input#active:checked
  ~ footer > label[for=active],

to-do input#completed:checked
  ~ footer > label[for=completed]
    { background: #ddd }
