to-do h1 {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: .612em;
}

to-do form {
  width:80vw;
  margin: 0 auto;
}

to-do button,
to-do button[type=submit] {
  margin: 0;
  padding: 0;
  width: 10vw;
  height: 10vw;
  border: none;
  display: block;
  box-shadow: none;
  min-width: initial;
  color: rgba(240,240,240,0.9);
}

to-do form
  > header {
    display: flex;
    margin-bottom: 1.612em;
    justify-content: stretch;
  }

to-do form
  > header input[required] {
    margin: 0;
    height: 10vw;
    font-size: 320%;
    flex-basis: 80vw;
  }

to-do form
  > header button[type=submit]
      { background: var(--plus) no-repeat center center }

to-do form > article {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: row;

  line-height: 2em;
  background: rgba(230,230,230,.5);
// Flexbox bug for fieldset - https://stackoverflow.com/questions/28078681/why-cant-fieldset-be-flex-containers
}

to-do form
   > article input[type=checkbox]
       { display: none }

to-do form > article label {
  font-size: 320%;
  flex-basis: 80vw;
  text-align: center;
  line-height:  10vw;
  padding-left: 10vw; /* width of Add button */
  display: inline-block;
}

to-do form > article input:checked ~ label {
  background: var(--check) no-repeat 2.5vw center;
  background-size: 10%
}

to-do form >
  article button
    { background: var(--x) no-repeat center center }

to-do menu  {
  align-items: center;
  flex-direction: row;
  justify-content: space-between
}

to-do menu
  > label {
      flex: 1;
      margin: 0 2em;
      line-height: 3em;
      text-align: center;
      border-radius: 0.2em;
      color: var(--darkest-color);
      cursor: pointer
    }
to-do menu
  > label:hover {
    color: var(--lightest-color);
  }

to-do input#all:checked
  ~ menu > label[for=all],

to-do input#active:checked
  ~ menu > label[for=active],

to-do input#completed:checked
  ~ menu > label[for=completed] {
      cursor: default;
      color: var(--lightest-color);
    }

to-do menu
  > button:first-of-type
      { background: var(--check) no-repeat center center }

to-do menu
  > button:last-of-type
      { background: var(--recycle) no-repeat center center }

to-do button,
to-do form > article button,
to-do menu > button:first-of-type,
to-do menu > button:last-of-type,
to-do form > header button[type=submit],
to-do button[type=submit] {
  font-size: 0;
  background-size: 80% 80%;
  text-shadow: 0.05em 0.05em 0.1em black;
}
to-do button:hover,
to-do form > article button:hover,
to-do form > header button[type=submit]:hover,
to-do menu > button:first-of-type:hover,
to-do menu > button:last-of-type:hover,
to-do form button[type=submit]:hover {
  font-size: 90%;
  line-height: 80%;
  background-size: 90% 90%;
}
